/* Nav Bar */
.navbar {
  background: rgb(52,250,68);
  background: radial-gradient(circle, rgba(52,250,68,1) 0%, rgba(219,15,156,1) 100%);
  height: max-content;
  top: 0;
  width: 100%;
  position: fixed;
  color: black !important;
}

.brand {
  font-size: 6vh !important;
}

.nav-link {
  border-radius: 5vh;
  font-size: 3vh !important;
  color: black !important;
}

.nav-link:hover {
  background-color: #694F5D;
  border-radius: 5vh;
  color: black;
  width: fit-content;
}

.active {
  color: black !important;
}

.search-bar{
  width: fit-content;
  height: fit-content;
  border-radius: 20vh;
  border-color: none;
  text-decoration: none;
  border-style: hidden;
 
}

.form-inputs i{
  position:absolute;
  right:10px;
  top:15px;
}

.shop-bag{
  color:black;
  height:50px;
  width:50px;
  font-size:25px;
  display:flex;
  border-radius:50%;
  align-items:center;
  justify-content:center;
}

.qty{
  font-size:12px;
  color: black;
}

.col-md-2{
 margin-left: 10vh;
}

.cards{
  text-align: center;
}

.item-card {
  display: inline-block !important;
  margin: 10px !important;
}

 .item-button{
 text-align: center;
}

.modal-90w{
  width: 200vh !important;
}

.hide{
  display: none;
}

label{
  color: #541E35 !important;
  margin-bottom: 2.5vh;
}
input,.btn-primary {
  border-top-style: hidden !important;
  border-right-style: hidden !important;
  border-left-style: hidden !important;
  border-bottom-style: groove !important;
  background-color: #eee !important;
  color:#541E35 !important;
  
}
form input[type=submit]{
  border-radius: 15%;
}




form input[type=submit]:hover,.btn-primary:hover{
  background-color: #694F5D !important ;
  color: #eee !important;
}

.btn-primary{
  float: right;
  margin-right: 30vh;
}

.no-outline:focus {
  outline: none;
  border: none;
}
.form{
  text-align: center;
}

.modal-content {
  color: #541E35 !important;
  border-color:#541E35 !important;
  border-width: 10px !important;
}

.item-img{
  width: 100%;
}

.preview-img{
  width: 20%;
}

.user-profile{
width: fit-content;
margin-top: -3%;
}

.user-img-card{
width: 46vh;
height: 46vh;
background: #541E35;
border-radius: 200px;
text-align: center;
color: #eee;
}

.user-img-card > button{
  border-top-style: hidden !important;
  border-right-style: hidden !important;
  border-left-style: hidden !important;
  border-bottom-style: groove !important;
  background-color: #541E35 !important;
  color:#eee !important;
}

.user-img-card > button:hover{
  background-color: #eee !important;
  color:#541E35 !important;
}


.user-img{
width: 40%;
border-radius: 10vh;
text-align: center;
}

.user-name{
  width: fit-content;
  margin: 0 auto;
  text-align: center;
}

.add-item-button{
  position:absolute ;
  top:15%;
  left:70%;
  width: fit-content !important;
  
}

.login{
  text-align: center;
  border-top-style:solid !important;
  border-right-style:solid !important;
  border-left-style:solid !important;
  border-bottom-style: solid !important;
  border-width: 10px;
  border-image: linear-gradient(rgba(52,250,68,1) 0%, rgba(219,15,156,1)) 30;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  margin-top:5%;
  padding: 3%;



}

.form{
 
  margin: auto;
}
.cart-info{
display: inline-block;
width: fit-content;
padding-left: 20px;
}
.cart-img > img {
  width:12% ;
  display: inline-block;
}

.cart-img{
  display: inline-block;
}
.cart-item {
  display: inline-block;
  border: solid;
  margin-bottom: 20px;
  
}

.pay-button{
  color:red;
  float: right;
}


